<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IlJlZmxlY3Rpb24i
		LCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0
		aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNi4w
		In1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IlJlZmxlY3Rpb24iLCJzZXR0aW5n
		cyI6W3siYnVuZGxlSWRlbnRpZmllciI6WyJjb20uanlwam95LnJlZmxlY3Rp
		b24iXX0seyJ0ZWFtSWRlbnRpZmllciI6WyJYR0hEUUc2NlU1Il19LHsiZGlz
		cGxheVZlcnNpb24iOlsiMS4wLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEi
		XX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJhc3NldCI6eyJu
		YW1lIjoiQWNjZW50Q29sb3IifX0sImFwcEljb24iOnsiYXNzZXQiOnsibmFt
		ZSI6IkFwcEljb24ifX0sImNhcGFiaWxpdGllcyI6W3siZmlsZUFjY2Vzc0xv
		Y2F0aW9uIjoicGljdHVyZUZvbGRlciIsImZpbGVBY2Nlc3NNb2RlIjoicmVh
		ZE9ubHkiLCJwdXJwb3NlIjoiZmlsZUFjY2VzcyJ9LHsiZmlsZUFjY2Vzc0xv
		Y2F0aW9uIjoidXNlclNlbGVjdGVkRmlsZXMiLCJmaWxlQWNjZXNzTW9kZSI6
		InJlYWRPbmx5IiwicHVycG9zZSI6ImZpbGVBY2Nlc3MifSx7InB1cnBvc2Ui
		OiJwaG90b0xpYnJhcnkiLCJwdXJwb3NlU3RyaW5nIjoiU2VsZWN0IGEgcGhv
		dG8gdG8gcmVtZW1iZXIgdGhpcyBjb2xvciJ9LHsicHVycG9zZSI6InBob3Rv
		TGlicmFyeUFkZCIsInB1cnBvc2VTdHJpbmciOiJTZWxlY3QgYSBwaG90byB0
		byByZW1lbWJlciB0aGlzIGNvbG9yIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1p
		bGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmll
		bnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6
		e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3du
		Ijp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19
		XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFi
		bGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5k
		ZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJw
		YWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10s
		InNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVwY29taW5nRmVhdHVyZSI6
		eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0sInRvb2wiOiJzd2lm
		dCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVu
		ZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwi
		cGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltd
		LCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUi
		OnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoic3dp
		ZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsi
		X3ZlcnNpb24iOiI1LjkuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		owJbJfiATS4QyrQpm/RBfiZ6Ik0eHo2AmGu8auy8Pzg=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
